.games-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    @include breakpoint($tablet) {
        width: 90%;
    }

    .card {
        flex: 1 100%;
        @include breakpoint($tablet) {
            flex: 1 20%;
        }
        margin-top: 30px;
    }
}