.button {
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  padding: 20px;
  text-transform: uppercase;
}
