.card {
    background-color: white;
    width: 290px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 300px;
    &:hover {
        background-color: #f7f7f7;
        .heart {
            opacity: 0.9;
        }
    }
    &.is-active {
        .card-title {
            background-color: #fda100;
        }
        .card-body {
            .heart {
                &, &:before, &:after {
                    background-color: #fda100;
                }
                opacity: 1;
            }
        }
    }
}

.card-title {
    background-color: #ffd000;
    display: block;
    height: 50px;
    h1 {
        color: white;
        font-size: 20px;
        line-height: 50px;
        margin-top: 0;
        text-align: center;
    }
}

.card-body {
    padding: 20px;
    img {
        width: 100%;
    }
    .heart {
        margin-top: 20px;
        transition: opacity 0.3s;
    }
}

.card-footer {
    position: relative;
    .heart {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 20px;
        width: 20px;
    }

}