.game-detail {

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;


    .underlay {
        background-color: black;
        height: 100%;
        opacity: 0.6;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .game-card {
        background-color: white;
        min-height: 600px;
        max-width: none;
        width: 90%;
        z-index: 2;
        padding-bottom: 30px;
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);

        .game-header {
            margin-top: 50px;
            width: 100%;
        }

        .screenshot {
            display: block;
            padding-top: 50px;
            margin: 0 auto;
            width: 50%;
        }

        p {
            font-size: 20px;
            padding: 10px 40px 0px 40px;
        }

        .play-now-button {
            background-color: #00b67d;
            border-radius: 50px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
            color: white;
            font-size: 24px;
            border: none;
            padding: 1em 2.5em;
            text-align: center;
            text-transform: uppercase;
            -webkit-box-shadow: 0px 5px 1px 1px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px 5px 1px 1px rgba(0,0,0,0.2);
            box-shadow: 0px 5px 1px 1px rgba(0,0,0,0.2);
        }

        .close-button {
            color: #777;
            font: 30px/100% arial, sans-serif;
            font-weight: 700;
            position: absolute;
            right: 12px;
            text-decoration: none;
            text-shadow: 0 1px 0 #fff;
            top: 12px;
        }

        .close-button:after {
            content: 'X'; /* ANSI X letter */
        }
    }

}