header {
    background-color: white;
    height: 50px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    @include breakpoint($tablet) {
        height: 90px;
    }
    .king-logo {
        height: 40px;
        display: block;
        padding-top: 5px;
        margin: 0px auto;
        @include breakpoint($tablet) {
            height: 80px;
        }
    }
}