.heart {
  background-color: #ffd000;
  display: block;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: 0;
  opacity: 0.2;
  transform: rotate(-45deg);
  width: 30px;

  &.is-active {
      opacity: 1;
  }
}

.heart:before,
.heart:after {
  content: "";
  background-color: #ffd000;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}

