.navigation {
    list-style: none;
    padding: 0;
    margin: 40px auto 10px;
    display: block;
    width: 90%;
    text-align: center;

    li {
        background: white;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.2em;
        line-height: 60px;
        height: 60px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        min-width: 100px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);

        &.is-active {
            a {
                color: #fda100;
            }
        }

        &:hover {
            transform: scale(1.025);
        }

        @include breakpoint($tablet) {
            margin-bottom: 0;
            display: inline-block;
        }

        &.favourites-counter {
            background-color: #ffd000;
            border-radius: 100px;
            font-size: 1.4em;
            min-width: 40px;
        }

        &.image-size-changer {
            background-color: #fda100;
            padding: 5px 10px 20px 10px;
            margin: 0 0 0 20px;
            height: 40px;
            select {
                background-color: #fda100;
                color: white;
                border: none;
                font-size: 1em;
                width: 100%;
                &:focus {
                    outline: 0;
                }
            }
        }

        a {
            color: #666;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}