.search-bar {
    display: block;
    margin: 0 auto;
    height: 50px;
    position: relative;
    text-align: center;
    input[type=text] {
        background-color: transparent;
        bottom: 0;
        font-size: 24px;
        border: none;
        color: white;
        border-bottom: 2px solid white;
        outline: none;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 5px;
        position: absolute;
        min-width: 200px;
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:white;
            opacity: 0.5;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    white;
            opacity:  0.5;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    white;
            opacity:  0.5;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            opacity:  0.5;
        }
    }
}