html {
  height: 100%;
  background-color: #ff934c; /* Old browsers */
}

body {
  margin: 0;
  background-color: #ff6a00; /* Old browsers */
  background: linear-gradient(to bottom, #ff6a00 16%,#ff934c 100%);
  font-family: "Helvetica", "Arial";
}

